body div { margin-left: auto;
       margin-right: auto;
       max-width: 512pt;
       
     }
h1 { text-align: center; }
table {
    margin-left: auto;
    margin-right: auto;
    max-width: 260pt;
}
table.done {
    background: lightgreen;
}
td {
    border: solid black 1px;
    padding: 10pt, 13pt;
    margin: 6pt;
    width:64pt;
    height:64pt;
    text-align: center;
    font-family: "Comic Sans", "Bradley Hand", cursive;
    font-size: 30pt;
}
td.total, tr.total td {
    border:none;
}
div.tile {
    color: blue;
    background: aqua;
    text-align: center;
    display: inline-block;
    width:50pt;
    height:50pt;
    margin: 4pt;
    padding: 10pt, 13pt;
    border: solid blue 1px;
    font-family: "Comic Sans", "Bradley Hand", cursive;
    font-size: 30pt;
    border-radius: 12pt;
}
div#bin {
    min-height:64pt;
    background: silver;
}
