h1 {
    text-align:center;
    font-size:16pt;
}
div#buttons p {
    margin:3pt;
    text-align:center;
}
div#io {
    display:none;
}
div#rule {
    display:none;
    margin-left:auto;
    margin-right:auto;
    width:auto;
}
div#rule p{
    text-align:center;
}
table {
    margin-left:auto;
    margin-right:auto;
}
input#calculate {
    width:6em;
}
input#in,input#out {
    width:4em;
}
td {
    text-align:center;
}
body {
    background-image:url(bg.png);
    background-repeat:repeat;
}